

body {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.1em;
	color: black;
	background-color: lightgray;
	height: auto;
	min-width:460px;
	width:100%;

}

main {
	display:inline-block;
	margin: 20px 0 20px 200px;
	min-height: 530px;
	height: auto;
	position: relative;
	padding: 0 30px;
}


header{
	border-bottom: 4px solid #000000;
	box-shadow: 5px 5px 15px grey;
	display: inline-block;
	height: 170px;
	width: 100%;
	position: relative;
	background: url(..http://students.cpcc.edu/~Tsema000/web115/images/orangecab.jpg);
	background-position: 0 5%;
	background-size: 50%;
	background-color: #000000;
}




h1, h2, h3, h4, h5 {
        color : steelblue;
	text-align: center;
	font-family: 'Mogra', cursive;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	margin-top: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.palette {
	display: inline-block;
        margin-left: auto;
        margin-right: auto;
}

.colors figure {
	float: left;
	width: 130px;
     }

.color {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid white;
	margin: 10px 0;
}




.orange
{
	background-color: orange;
}

.gray
{
	background-color: gray;
}

.black
{
	background-color: black;
}
.steelblue
{
	background-color: steelblue;
}



.level1  {
	margin-left: 1.5em;
}

.topnav {
     background-color : #FFA500;
     overflow : hidden;
    text-align: center;
}
.topnav a {
      display : inline-block;
     color : black;
     text-align : center;
    padding : 14px 16px;
    text-decoration : none;
    font-size : 17px;
}
.topnav a:hover {
    background-color : black;
    color : white;
    text-align : center;
         }
.topnav a:active {
         background-color : black;
         color : red;
        text-align : center;}
.bottomnav{
        background-color : #FFA500;
	overflow: hidden;
        text-align: center;

}

.bottomnav a{
     display : inline-block;
     color : black;
     text-align : center;
    padding : 14px 16px;
    text-decoration : none;
    font-size : 17px;
}


.bottomnav a:hover{
	background-color:black;
	color: white;
        text-align: center;
}

.bottomnav a:active {
         background-color : black;
         color : red;
        text-align : center;
      }

footer {
 text-align : center;

}
