<footer>
	<div class="bottomnav">
		<a id="webs" href="http://students.cpcc.edu/~Tsema000/web115/" target="_blank">Webspace</a> 
		<a id="git" href="https://github.com/tsema000" target="_blank">Github</a>
		<a id="githubsite" href="https://tsema000.github.io/web115/introduction.html">Github Pages</a>
		<a id="Linkedin" href="https://www.linkedin.com/in/tilahun-sema-341b2914b/" target="_blank">LinkedIn</a> 
		<a id="jsf" href="https://jsfiddle.net/user/tsema000/fiddles/" target="_blank">Jsfiddle</a> 
                <a href="https://profile.edx.org/u/Tsema000/" target="_blank">Edx</a>
		<a id="freecode" href="https://www.freecodecamp.org/tilahun">FreecodeCamp</a>
                <a id="codcdamy" href ="https://www.codecademy.com/profiles/tilahunsisay9288099833" target="_blank">Codecademy</a>	
		<a id="khan" href="https://www.khanacademy.org/profile/Tilahun123/">Khanacademy</a> 
	</div> 
	<br>
         <a href="http://validator.w3.org/check?uri=referer">
			<img style="border:0; width:88px; height:31px"
                             src="images/valid_html5.gif"
                             alt= "HTML validatiion Button"/>
        </a>
				
	
	<a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0; width:88px; height:31px"
            src="images/css-validator.gif"
            alt="CSS Validation Button" />
    </a>

</footer>
